<li class="item">
    <div class="item-thumb-container">
        <a href="{link}" title="{link}" target="_blank" rel="noopener">
            <img class="item-thumb" src="{thumb_url}" alt="{thumb_alt}"/>
            <img src="/assets/img/blank.png" class="keep-ratio" alt="">
            <div class="item-label">
                <span class="item-title">
                    {title} <i class="fas fa-external-link-alt"></i>
                </span>
                <div class="item-tags">
                    <div class="item-tag">
                        {tags}
                    </div>
                </div>
            </div>
        </a>
    </div>
</li>